.descbox {
    margin: 120px 170px;
}

.descbox-navigator {
    display: flex;

}

.descbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    height: 70px;
    border: 1px solid #000;
}

.descbox-nav-box.fade {
    background: #fbfbfb;
    color: #000;
}

.descbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #000;
    padding: 48px;
    padding-bottom: 70px;

}